:root {
    /* Background colors */
    --light-bg-grey: #f8f9fa;
    --dark-bg-grey: #ecedee;
    --light-bg-blue: #e4eefd;
  
    --primary-blue: #1967d2; /* This color is for both button bg and text bg */
    --button-hover-color: #0f5cbb; 
  --button-border-radius: 4px;
  --box-border-radius: 20px;
  --grey-border-color: #dadce0;
    --text-color: #3c4043
  --heading-font-weight: 700;
  --p-font-weight: 400;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --white: white;
  --black: black;
  }
  
  *, *::before, *::after{
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    transition: 0.4s all ease;
    scroll-behavior: smooth;
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
  }

  h2{
    font-weight: 700;
  }
  .header{
    text-decoration: underline;
    font-size: 28px;
  }

  img{
    max-width: 100%;
    font-style: italic;
    vertical-align: center;
    object-fit: cover;    
    display: inline-block;
  }

  .flex-col{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .flex-row{
    display: flex;
  }
  .grid{
    display: grid;
  }

  button{
    cursor: pointer;
    background-color: transparent;
  }

  .container{
    width: min(1200px, 90%);
    padding-block: 40px;
    margin: 0 auto;
  }

  .link{
    color: var(--primary-blue);
  }

  .btn{
    padding: 10px;
    border-radius: var(--button-border-radius);
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .btn:hover{
    background-color: var(--button-hover-color);
  }

  .btn:active{
    transform: translateY(2px);
  }
  i{
    font-size: 1rem;
  }

.absolute{
    position: absolute;
}
.small{
    font-size: large;
}

  /* =================product container styling i.e.section 1=====================*/
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}
/* product image */
.product-images{
    display: flex;
    gap: 16px;
    position: relative;
}

.product-images::after{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--grey-border-color);
    position: absolute;
    right: -2rem;
}

.expand{
    top: 5px;
    left: 10px;
}
.add-wishlist{
    top: 5px;
    right: 10px;
}
/* large container */
.large-image-container{    position: relative;

    width: 100%;
    height: 100%;
    background-color: var(--light-bg-grey);
}
.large-image-container > img{
    width: 100%;
}
/* small container */
.small-image-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.small-image-container > .small-image{
    background: var(--light-bg-grey);
    width: 60px;
    height: 60px;
}
.small-image-container > .small-image.active{
    border: 2px solid black;
}

/* product description */
.product-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-description > p.description{
margin-top: -10px;
}

.product-price{
    display: flex;
    gap: 10px;
    font-weight: 500;    
    font-size: 20px;
}

.product-price span:last-of-type{
    text-decoration: line-through;
    opacity: 0.7;
}

.discount{
    display: flex;
    gap: 6px;
}
.review{
    display: flex;
    gap: 10px;
}

.review .review-count{
text-decoration: underline;
}
.bx.bxs-star, .bxs-star-half{
    color: gold;
}
.color-switcher{
    gap: 4px;
}
.color-switcher > button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    background: #000;
    overflow: hidden;
}
.color-switcher > button.active{
    border: 2px solid black;
}
.color-switcher > button p{
    width: 20px;
    height: 20px;
}
.color-switcher > button p:first-child{
    background-color: #fff;
}
.btn-container{
    gap: 1rem;
}
.btn-border{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}
.btn-border:hover{
    background-color: #f9f3f3;
}

/* section 2 product details */
.product-details-tab-container{
    border: 1px solid var(--grey-border-color);
    border-radius: var(--button-border-radius);
}
.product-tab-buttons{
    display: flex;
    background-color: var(--dark-bg-grey);
    width: fit-content;
}
.product-tab-buttons > button{
    padding: 10px;
    border: 1px solid var(--grey-border-color);
    border-top: none;
    font-size: 1rem;
}
.product-tab-buttons > button:hover, .product-tab-buttons > button.active{
    background-color: var(--white);

}
.tab-content-container{
    padding-inline: 1rem;
    padding-block: 10px;
}

/* related product section */
.related-products-container{
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
}
.related-products-container::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  .related-products-container {
    scrollbar-width: none;
    padding-block: 1.4rem;
  }

  .related-products-container::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
  .related-product{
    min-width: 180px;
  }
  .related-product > .product-img{
    background-color: var(--dark-bg-grey);
    height: 200px;
    border-radius: var(--box-border-radius);
  }
  .related-product .product-name{
    margin-top: 16px;
  }
  .related-product .link{
    text-decoration: none;
  }

  /* reviews */
  .rating-review-container{
    gap: 2rem;
    padding-block: 40px;
    max-width: 800px;
  }
  .rating-review-box{
    gap: 8px;
    padding-block: 1rem;
  }
.user-details{
    gap: 10px;
    align-items: center;
  }
  .user-details .letter{
    padding: 4px;
    border-radius: 50%;
    background-color: purple;
    color: var(--white);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    width: 25px;
    height: 25px;
  }
  .user-details .name{
    font-weight: 600;
  }
  .rating-stats{
    justify-content: space-between;
    align-items: center;
  }
  .rating-content{
    gap: 10px;
  }
  .rating-content .rating {
    display: flex;
    gap: 20px;
  }

  .large{
    font-size: 20px;
    font-weight: 600;
  }
  .underline{
    text-decoration: underline;
  }
  .add-review-container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: none;
  }
.add-review-form{
    max-width: 600px;
    min-height: 200px;
    width: 100%;
    background-color: var(--white);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
}
.add-review-form button{
    align-self: flex-end;
}
.add-review-form textarea{
    border: 1px solid var(--grey-border-color);
    padding: 10px;
    resize: none;
    width: 100%;
    color: var(--black);
}
.add-review-form .stars{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 400px;
}
.add-review-form .stars i{
    font-size: 30px;
    cursor: pointer;
}
.add-review-form h2{
    font-weight: 400;
}