                                                                                                :root {
    /* Background colors */
    --light-bg-grey: #f8f9fa;
    --dark-bg-grey: #ecedee;
    --light-bg-blue: #e4eefd;
  
    --primary-blue: #1967d2; /* This color is for both button bg and text bg */
    --button-hover-color: #0f5cbb; 
  --button-border-radius: 4px;
  --box-border-radius: 20px;
  --grey-border-color: #dadce0;
    --text-color: #3c4043
  --heading-font-weight: 700;
  --p-font-weight: 400;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --white: white;
  --black: black;
  }
  
  *, *::before, *::after{
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    transition: 0.4s all ease;
    scroll-behavior: smooth;
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
  }

  h2{
    font-weight: 700;
  }
  .header{
    text-align: center;
    font-size: 28px;
  }

  img{
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    display: inline-block;
  }

  .flex-col{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .flex-row{
    display: flex;
  }
  .grid{
    display: grid;
  }

  button{
    cursor: pointer;
    background-color: transparent;
  }

  .container{
    width: 100%;
    padding: 40px 5%;
    margin: 0 auto;
  }

  .link{
    color: var(--primary-blue);
  }

  .btn{
    padding: 10px;
    border-radius: var(--button-border-radius);
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .btn:hover{
    background-color: var(--button-hover-color);
  }

  .btn:active{
    transform: translateY(2px);
  }
  i{
    font-size: 1rem;
  }

.absolute{
    position: absolute;
}
.small{
    font-size: large;
}

  /* =================product container styling i.e.section 1=====================*/
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
}
/* product image */
.product-images{
    display: flex;
    gap: 16px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.product-images::after{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--grey-border-color);
    position: absolute;
    right: -4rem;
}
.add-wishlist{
    top: 5px;
    right: 10px;
    color: rgb(155, 152, 152);
    transition: 0s;
  }
  .add-wishlist i{
    font-size: 1.4rem;

  }
  .add-wishlist.active{
    color: red;
    transition: 0s;
  }
/* large container */
.large-image-container{    
    position: relative;
    object-fit: cover;
    padding: 16px;
    background-color: var(--light-bg-grey);
   height: 100%;
   min-height: 250px;
   display: flex;
   vertical-align:middle;
   overflow-x: hidden;    height:max-content;

}
.large-image-container img{
    width: 0px;
    transition: 0s;
}
.large-image-container img.visible{
   width: 100%;
}

/* small container */
.small-image-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.small-image-container > .small-image{
    background: var(--light-bg-grey);
    border-radius: 4px;
    border: 1px solid transparent;
    width: 60px;
    max-width: 100px;
    object-fit: contain;
}
.small-image-container > .small-image.active{
    border: 2px solid rgb(133, 125, 125);
}

/* product description */
.product-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 2rem;
}

.product-description > p.description{
margin-top: -10px;
}

.product-price{
    display: flex;
    gap: 10px;
    font-weight: 500;    
    font-size: 20px;
}

.product-price span:last-of-type{
    text-decoration: line-through;
    opacity: 0.7;
}

.discount{
    display: flex;
    gap: 6px;
}
.review{
    display: flex;
    gap: 10px;
}

.review .review-count{
text-decoration: underline;
}
.bi.bi-star-fill{
    color: gold;
}
.color-switcher{
    gap: 4px;
}
.color-switcher > button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    background: #000;
    overflow: hidden;
}
.color-switcher > button.active{
    border: 2px solid black;
}
.color-switcher > button p{
    width: 20px;
    height: 20px;
}
.color-switcher > button p:first-child{
    background-color: #fff;
}
.btn-container{
    gap: 1rem;
}
.btn-border{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}
.btn-border:hover{
    background-color: #f9f3f3;
}

/* section 2 product details */
.product-details-tab-container{
    border-radius: var(--button-border-radius);
}
.product-tab-buttons{
    display: flex;
    width: 100%;
}
.product-tab-buttons .tab-btn{
    padding: 10px;
    border: 1px solid var(--grey-border-color);
    border-bottom: none;
    font-size: 1rem;
    width: 100%;
    background-color: #fff;
}
.product-tab-buttons .tab-btn:first-of-type{
border-top-left-radius: 12px;
}
.product-tab-buttons .tab-btn:last-of-type{
border-top-right-radius: 12px;
}
.product-tab-buttons .tab-btn:hover, 
.product-tab-buttons .tab-btn.active{
        background-color: var(--dark-bg-grey);

}
.tab-content-container{
    padding-inline: 1rem;
    padding-block: 10px;
    border: 1px solid var(--grey-border-color);
}
.tab-content-container .tab-content{
    display: none;
}
.tab-content-container .tab-content.active{
    display: block;
}

/* related product section */
.related-products-container{
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
    scrollbar-width: thin;
    padding-block: 3rem;
  }
.related-products-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .related-products-container::-webkit-scrollbar-thumb {
    background-color: var(--grey-border-color);    
    border-radius: 22px;
  }
  
  .related-products-container {
    scrollbar-width: thin;
  }

  .related-product{
    min-width: 180px;
    max-width: 200px;
  }
  .related-product > .product-img{
    background-color: var(--dark-bg-grey);
    border-radius: var(--box-border-radius);
    min-height: 180px;
    padding: 8px;
  }
  .related-product .product-desc{
    margin-top: 8px;
    font-size: 14px;
  }
  .related-product .product-name{
    margin-top: 8px;
    font-size: 18px;
  }
  .related-product .link{
    text-decoration: none;
    font-weight: 600;
  }

  /* reviews */
  .rating-review-container{
    gap: 2rem;
    padding-block: 40px;
    max-width: 800px;
  }
  .rating-review-box{
    gap: 8px;
    padding-block: 1rem;
  }
.user-details{
    gap: 10px;
    align-items: center;
  }
  .user-details .letter{
    padding: 4px;
    border-radius: 50%;
    background-color: purple;
    color: var(--white);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    width: 25px;
    height: 25px;
  }
  .user-details .name{
    font-weight: 600;
  }
  .rating-stats{
    justify-content: space-between;
    align-items: center;
  }
  .rating-content{
    gap: 10px;
  }
  .rating-content .rating {
    display: flex;
    gap: 20px;
  }

  .large{
    font-size: 20px;
    font-weight: 600;
  }
  .underline{
    text-decoration: underline;
  }
  .add-review-container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: none;
  }
  .close-review{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .close-review i{
    font-size: 2rem;
  }
  .add-review-container.active{
    display: flex;
  }
.add-review-form{
    position: relative;
    max-width: 600px;
    min-height: 200px;
    width: 100%;
    background-color: var(--white);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
}
.add-review-form button{
    align-self: flex-end;
}
.add-review-form textarea{
    border: 1px solid var(--grey-border-color);
    padding: 10px;
    resize: none;
    width: 100%;
    font-size: 16px;
    color: var(--black);
}
.add-review-form .stars{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 400px;
}
.add-review-form .stars i{
    font-size: 30px;
    cursor: pointer;
    color: lightgray;
    transition: 0s;
}
.add-review-form .stars i.active{
    color: gold;    transition: 0s;

}
.add-review-form h2{
    font-weight: 400;
}

.discount{
    color: red;
}

/* footer */
footer a{
  font-size: 14px;    
}
      footer h3{
  font-size: 16px;    
}
footer a:hover, footer a:active{
  color: var(--primary-blue);
}
hr{
  height: 2px;
  background-color: var(--grey-border-color);
  margin-block: 1rem;
  gap: 1rem;
}
.footer-container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bold{
  font-weight: 600;
}

.footer-intro .form-group{
  gap: 0px;
  height: fit-content;
  max-width: 300px;
}
.footer-intro .form-group input{
border: 1px solid var(--grey-border-color);
padding: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
font-size: 14px;
}
.footer-intro .form-group button{
padding: 6px;
border-radius: 0px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
font-size: 14px;
}
.footer-intro .social-links{
display: flex;
justify-content: center;
gap: 10px;
width: fit-content;
margin: auto;
}
.footer-intro .social-links i{
font-size: 20px;
color: var(--text-color);
}
.footer-intro .social-links i:hover{
  transition: 0s;
color: var(--primary-blue);
}
.footer-content{
  gap: 1rem;
  min-width: 100px;
  max-width: 220px;

}
.footer-content.contact li{
gap: 1rem;
font-size: 1rem;
}

.privacy-policy{
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ================= media querries ============== */
@media (max-width: 950px){
    .product-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .product-images::after{
        display: none;
    }
    .product-images{
        flex-direction: column;
    }
    .small-image-container{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .small-image-container .small-image{
        max-width: 100%;
        width: 100%;
    }
    .product-images::after{
        right: 0rem;
    }
    .product-description{
        margin-left: 0px;
    }
    .rating-review-container h2{
      margin-bottom: 1rem;
  }
}

@media (max-width: 500px){
  .container{
    padding: 20px 5%;
  }
    p{
        font-size: 14px;
    }
    textarea{
        font-size: 14px;
    }
    .product-tab-buttons .tab-btn{
        padding: 6px;
        font-size: 0.8rem;
    }
    .rating-review-container{
        gap: 0px;
    }
    .privacy-policy *{
      font-size: 14px;
    }
.footer-content{
  gap: 10px;
}

}





.logo{
  width: 60px;
  height: 60px;
}
.logo img{
  width: 100%;
  height: 100%;
}

/* ==================
mike styles
============== */
.navigation__container {
  padding: 10px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 99;
}
.navigation__container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  padding-left: 0px;
}
.navigation__element a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.wishlist__cart__search {
  font-size: 24px;
}
.wishlist, .cart {
  position: relative;
}
.badge {
  font-size: 11px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--primary-blue);
  color: var(--light-bg-grey);
  border-radius: 50%;
  top: -3px;
  left: -3px;
  border: 1px solid var(--light-bg-grey);
  text-align: center;
}
.sign__up, .login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: var(--button-border-radius);
}
.login {
  background-color: var(--primary-blue);
}

@media (max-width: 900px){
ul.navigation__list{
    display: none;
  }
}