:root {
	/* Background colors */
	--light-bg-grey: #f8f9fa;
	--light-bg-blue: #e4eefd;
	--primary-blue: #1967d2; /* This color is for both button bg and text bg */
	--button-hover-color: #0f5cbb;
	--button-border-radius: 4px;
	--box-border-radius: 20px;
	--grey-border-color: #dadce0;
	--text-color: #3c4043;
	--heading-font-weight: 700;
	--p-font-weight: 400;
    --font-family: 'Quicksand', sans-serif;
    --white: #ffffff;
    --dark-grey: #ecedee;
}

*{
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all 0.5s ease-out;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: var(--light-bg-grey);
    padding: 0px 2px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
    border-radius: 4px;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    font-weight: var(--p-font-weight);
    color: var(--text-color);
    font-family: var(--font-family);
    position: relative;
    overflow-x: hidden;
    background: var(--white);
}

.index__main__container{
    padding: 0px 6%;
}

.hide__scroll{
    overflow: hidden;
}

.hide__scroll::-webkit-scrollbar{
    width: 0px;
    height: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    padding-left: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

.user__navigation__container{
    padding: 10px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: 100vw;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: var(--white);
    height: 80px;
    margin-top: 20px;
}

.menu__button{
    display: none;
}

.menu__button span{
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--text-color);
    display: block;
    margin-bottom: 5px;
}

.wishlist__cart__search{
    font-size: 24px;
}


.wishlist__cart__search li:hover{
    cursor: pointer;
}

.navigation__element:hover{
    color: var(--primary-blue);
    transition: .1s;
}


.wishlist, .cart{
    position: relative;
}

.badge{
    font-size: 11px;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--primary-blue);
    color: var(--light-bg-grey);
    border-radius: 50%;
    top: -3px;
    left: -3px;
    border:  1px solid var(--light-bg-grey);
    text-align: center;
}
.new__hero__image{
    width: 50%;
    overflow: hidden;
}

.new__hero__image img{
    width: min(100%, 700px);
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.603)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.307));
    margin-left: 20px;
}

.hero__section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: var(--light-bg-blue);
    height: 650px;
    padding-top: 0px;
    align-items: center;
}

.hero__buttons
{
    display: flex;
    gap: 20px;
}

.hero__buttons a:first-child button{
    color: var(--primary-blue);
    background-color: transparent;
    border: 2px solid var(--primary-blue);
    width: max-content;
    padding: 0px 30px;
}

.hero__buttons a:first-child button:hover{
    color: var(--white);
    background-color: var(--primary-blue);
}
.detail__to__product{
    width: 50%;
    padding: 2%;
    margin-top: max(-80px , -50%);
    z-index: 2;
}

.hero__section .product__name{
    font-size: 50px;
    font-weight: var(--heading-font-weight);
}

.hero__section h2, .hero__section h3{
    font-weight: 600;
    font-size: 20px;
}

.hero__section h3{
    font-weight: 400;
}

button{
    border: transparent;
    outline: none;
    cursor: pointer;
    font-family: var(--font-family);
}

.hero__learn__more button{
    color: var(--light-bg-grey);
    background-color: var(--primary-blue);
    height: 48px;
    width: 150px;
    border-radius: var(--button-border-radius);
    font-family: var(--font-family);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.hero__learn__more button:hover{
    background-color: var(--button-hover-color);
}

.hero__learn__more button span{
   width: 30%; 
}

.hero__learn__more button:hover svg{
    width: 130%;
}

.index__first__container{
    background-color: var(--light-bg-blue);
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    max-height: 700px;
    border-radius: var(--button-border-radius);
}

.index__first__container::before{
    position: absolute;
    content: "";
    background: var(--primary-blue);
    width: 80%;
    height: 80%;
    bottom: -210px;
    right: -270px;
    z-index: 0;
    border-radius: 40%;
}

.navigation__element a .bx{
    display: inline-block;
    font-size: 20px;
}

.navigation__element a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.sign__up{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: var(--button-border-radius);
    background-color: var(--primary-blue);  
}

.navigation__element:hover .bx{
    transform: rotate(180deg);
}

.header__button{
    font-weight: 700;
    background-color: transparent;
    border-radius: var(--button-border-radius);
    padding: 10px;
    border: 2px solid var(--primary-blue);
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white);
}

.login .header__button{
    background-color: transparent;
    border: 1px solid transparent;
    width: max-content;
    font-size: 16px;
}

.header__button .bx{
    font-size: 24px;
}

.login .header__button{
    color: var(--primary-blue);
}

.header__button:hover{
    background-color: var(--button-hover-color);
}

.login .header__button:hover{
    background-color: transparent;
    color: var(--button-hover-color);
}

.account__buttons{
    gap: 10px;
}

.hide{
    display: none;
}

.change__image__view{
    display: flex;
    align-items: center;
    background-color: var(--white);
    min-width: 100px;
    justify-content: space-around;
    font-weight: 600;
    padding: 8px;
    position: absolute;
    right: 45px;
    bottom: 120px;
    border-radius: var(--box-border-radius);
}

.change__image__view .bx{
    font-size: 25px;
    color: var(--text-color);
}

button.left, button.right{
    background-color: var(--white);
}

.right:hover .bx, .left:hover .bx{
    color: var(--primary-blue);
}

.product__category{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 65px;
    gap: 15px;
}

.product__category>div{
    border-radius: var(--button-border-radius);
    height: 250px;
    position: relative;
    color: var(--white);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.489);
}

.product__category>div:hover a:before{
    background-size: 120%;
    background-position: 50% 50%;
    transition: .5s;
}

.product__category>div a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.product__category>div a span{
    font-size: 20px;
}

.product__category>div h2{
    font-size: 28px;
}


.product__category>div a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position:50%;
    background-size: 100%;
    transition: .5s;
}

.product-name{
    font-size: 20px;
}

.pressure__category{
    width: 65%;
}

.pressure__category a:before{
    background-image: url(../assets/images/products/Blood_pressure.webp);
}

.Thermometer__category{
    width: calc(35% - 15px);
}

.Thermometer__category a::before{
    background-image: url(../assets/images/products/Thermometers.webp);
}

.DigitalScale__category{
    width: calc(40% - 30px);
}

.DigitalScale__category a::before{
    background-image: url(../assets/images/products/Scales.webp);
}

div.Nebulisers__category, div.Electrocardiogram__category{
    width: 30%;
}

div.Nebulisers__category a::before{
    background-image: url(../assets/images/products/Nebulizer_background.webp);
    background-size: 140%;
}

div.Electrocardiogram__category a::before{
    background-image: url(../assets/images/products/Electrocardiogram_background.webp);
    background-size: 140%;
}

div.Nebulisers__category:hover a:before, div.Electrocardiogram__category:hover a:before{
    background-size: 168%;
}

.latest__products{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.latest__products h1, .heading{
    font-size: 32px;
    text-align: center;
    position: relative;
    width: max-content;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 80px;
}

.latest__products h1::before, .heading::before{
    content: "";
    position: absolute;
    width: 70%;
    bottom: -15px;
    left: auto;
    right: auto;
    border-radius: 2px;
    background-color: var(--primary-blue);
    height: 5px;
}

.product__card{
    display: flex;
    flex-direction: column;
}

.product-img{
    width: 100%;
    background-color: var(--dark-grey);
    border-radius: var(--box-border-radius);
    border: 1px solid var(--grey-border-color);
}

.product-img img{
    width: 100%;
}

.link{
    display: flex;
    gap: 0px;
    align-items: center;
    background-color: var(--primary-blue);
    width: 80px;
    color: var(--white);
    height: 45px;
    border-radius: var(--button-border-radius);
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 700;
}

.link .bx{
    font-size: 24px;
}

.link:hover{
    background-color: var(--button-hover-color);
}

.price__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8%;
}

.price{
    font-size: 20px;
    font-weight: 600;

}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  height: 10px;
  width: 10px;
  background: transparent;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-next .bx, .swiper-button-prev .bx{
    color: var(--primary-blue);
    font-size: 36px;
    background-color: var(--white);
    padding: 5px 6px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--primary-blue);
}

.swiper-button-next:hover i, .swiper-button-prev:hover i{
   border-color: var(--primary-blue); 
}

.swiper-button-prev, .swiper-button-next{
    left: 15px;
    position: absolute;
}

.swiper-button-next{
    left: auto;
    right: 15px;
}

.swiper-button-next:after, .swiper-button-prev:after{
    content: '';
}

.approvals{
    width: 100%;
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin-top: 50px;
    border-radius: var(--box-border-radius);
    gap: 40px;
    height: 236px;
    margin-top: -70px;
}

.approvals div{
    width: max(28%, 275px);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 300px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
    z-index: 3;
    background-color: var(--white);
    border-radius: var(--button-border-radius);
}

.approvals div:hover{
    background-color: var(--light-bg-blue);
}

.approvals .underlined__text{
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    width: max-content;
}

.underlined__text:before{
  position: absolute;
  bottom: -10px;
  width: 40px;
  border-radius: 2px;
  background-color: var(--primary-blue);
  height: 2px;
  z-index: 0;
  content: "";  
}


.approvals div svg{
    background-color: var(--primary-blue);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 10px;
}

.index__statistics{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 100px;
    margin-bottom: 100px
}

.index__statistics div{
   font-weight: 700;
}

.index__statistics h1{
    font-size: 50px;
    color: var(--primary-blue);
    font-weight: 800;
    margin-bottom: 8px;
}

.Trade__discount{
    background-color: var(--light-bg-blue);
    border-radius: var(--box-border-radius);
    margin-top: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.Trade__discount .product__image__discount{
    width: 50%;
    display: flex;
    align-items: center;
}

.product__image__discount img{
    width: 100%;
}

.Trade__discount__details{

    width: 45%;

}

.Trade__discount h1{
    font-size: 35px;
}

.Trade__discount p{
    font-size: 16px;
}

.real__price, .discounted__price{
    font-size: 24px;
    font-weight: 600;
}

.real__price{
    text-decoration: line-through red;
}

.Buy__now{
    color: var(--white);
    background-color: var(--primary-blue);
    border-radius: var(--button-border-radius);
    font-weight: 700;
    padding: 0px 20px; 
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 48px;
}

.Buy__now:hover{
    background-color: var(--button-hover-color);
}

.count_down{
    color: var(--white-color);
    width: 350px;
    margin: auto;
    margin-top: 100px;
}

.time_squares{
    display: flex;
    gap: 8px;
    padding-left: 0px;
    align-items: center;  
    max-width: 430px;
    margin: auto;
    justify-content: center;
}

.time_squares li{
    width: 70px;
    height: 70px;
    list-style: none;
    background-color: #a3c5f1;
    border-radius: 5px;
    text-align: center;
    color: var(--text-color);
    border: 2px solid var(--dark-grey);

}

.value{
    display: block;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 800;
}

.time_property{
    font-size: 12px;
}

.color{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid transparent;
}

.color span{
    width: 100%;
    height: 50%;
}

.color span:hover{
    cursor: pointer;
}

.color__variants {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 10px;
    top: 15px;
}

.active__color{
    border-color: var(--primary-blue);
}

.index__main__search__container{
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, .9);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 150%;
}

.index__main__search__container>div>*{
    height: max-content;
    background-color: transparent;
    color: var(--white);
    font-size: 30px;
    padding: 0px 10px;
    visibility: hidden;
}

.index__main__search__container>div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    max-width: 100vw;
    max-height: 100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;   
}

.searchContainerAnimate>div>*{
    animation: animateSearch_showContent .3s forwards 1.2s;
}

button.close__search{
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 40px;
}

#main__search{
    border: transparent;
    border-bottom: 4px solid var(--white);
    font-size: 18px;
    padding: 5px;
    outline: none;
    width: 70%;
    max-width: 70vw;
}

.searchContainerAnimate{
    animation: animateSearch_MoveUp .8s forwards, animateSearch_Grow .8s forwards 1s; 
}

@keyframes animateSearch_MoveUp {
    from{
        top: 150%;
    }

    to{
        top: 50%;
    }
}

@keyframes animateSearch_Grow{
    from{
        width: 70px;
        height: 70px;
    }

    to{
        width: 300%;
        height: 300vw;
    }
}

@keyframes animateSearch_showContent{
    from{
        visibility: hidden;
    }

    to{
        visibility: visible;
    }
}

.index__main__blogContainer{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    row-gap: 25px;
    flex-wrap: wrap;
    padding: 0px 15px;
    margin-bottom: 30px;
}


.blog__main{
    width: 32%;
    border-radius: var(--button-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding-bottom: 10px;
}

.blog__main img{
    width: 100%;
    height: 225px;
}

.blog__info{
    margin: auto;
    padding: 0 5%;
    margin-top: 5px;
}

#footer ul{
    align-items: flex-start;
}

@media screen and (max-width: 1100px){
    .index__main__container{
        padding: 0 2%;
    }

    .user__navigation__container{
        padding: 10px 2%;
    }
}

@media screen and (max-width: 949px) {
    .navigation__list{
        display: none;
    }

    .account__buttons{
        display: none;
    }

    .menu__button{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .user__navigation__container{
        margin-top: 0px;
        padding-left: 20px;
    }

    .index__main__container{
        padding: 0px 1px;
    }



    .wishlist__cart__search{
        padding-right: 20px;
    }

    .hero__section{
        flex-direction: column;
        height: max-content;
        gap: 50px;
    }

    .hero__section>div{
        width: 100%;
    }


    .change__image__view{
        right: 10px;
        bottom: 10px;
    }

    .index__first__container{
        max-height: max-content;
    }

    .index__first__container::before{
        right: -200px;
        height: 300px;
        bottom: -100px;
        width: 180%;
    }

    .new__hero__image img{
        margin: 0px;
    }

    .detail__to__product{
        width: 100%;
        margin-top: 0px;
    }

    .approvals{
        margin-top: 300px;
        flex-direction: column;
        gap: 10px;
    }

    .approvals div{
        width: 90%;
    }

    .approvals div svg{
        width: 50px;
        height: 50px;
    }

    .hero__section .product__name{
        font-size: 45px;
    }

    .index__statistics{
        font-size: 12px;
        flex-wrap: wrap;
        margin-top: 300px;
    }

    .index__statistics h1{
        font-size: 30px;
    }

    .index__statistics div{
        width: 50%;
    }

    .product__category{
        justify-content: center;
    }

    .product__category>div{
        width: 95%;
        height: 200px;
    }

    .product__category>div h2{
        font-size: 20px;
        text-align: center;
    }

    .latest__products h1, .heading{
        font-size: 22px;
    }

    .blog__section h3{
        font-weight: 500;
        font-size: 18px;
        padding: 0px 20px;
    }
    
    .Trade__discount{
        flex-direction: column;
        border-radius: var(--button-border-radius);
    }

    .Trade__discount>div{
        width: 100%;
    }

    div.color__variants{
        width: max-content;
        flex-direction: row;
    }

    .Trade__discount .product__image__discount{
        width: 100%;
    }

    .color{
        width: 25px;
        height: 25px;
    }

    .Trade__discount>div.Trade__discount__details{
        margin-top: -30px;
        margin-bottom: 20px;
    }

    .Trade__discount__details h1{
        font-size: 25px;
        padding: 0px 10px;
    }

    .time_squares{
        width: 250px;
    }

    .product__swiper{
        padding-left: 20px;
        overflow-x: visible;
    }

    .swiper-button-next .bx, .swiper-button-prev .bx{
        padding: 0px;
        border: transparent;
    }

    .swiper-button-next{
        right: 8px;
    }
}

.navigation__mobile{
    width: 100vw;
    height: calc(100dvh - 80px);
    overflow-x: hidden;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: var(--white);
    z-index: 98;
    display: flex;
    padding: 20px 20px 0px;
}


.body__of__navigation{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 50px;
    box-sizing: content-box;
}

.body__of__navigation .menu__item{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px ;
    border-bottom: 2px solid rgb(214, 214, 214);
}

.body__of__navigation .menu__item:last-child{
    border-bottom-color: transparent;
}

.body__of__navigation .menu__item .bx{
    font-size: 30px;
    color: var(--primary-blue);
}

.body__of__navigation .menu__item a:hover{
    color: var(--primary-blue);
}

.body__of__navigation>a{
    width: 80%;
}

.body__of__navigation>a:first-child{
    margin-top: 50px;
}

.body__of__navigation a button{
font-weight: 700;
background-color: transparent;
border-radius: var(--button-border-radius);
padding: 10px;
border: 2px solid var(--primary-blue);
width: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--primary-blue);
height: 50px;
font-size: 18px;
}

.body__of__navigation a button.signUp__mobile, .body__of__navigation a button.login__mobile:hover{
    background-color: var(--primary-blue);
    color: var(--white);
}

.body__of__navigation a button.signUp__mobile:hover{
    background-color: var(--button-hover-color);
}


.clicked.menu__button span:first-child{
    translate: 0px 7px;
    transform: rotate(45deg);
}

.clicked.menu__button span:nth-child(2){
    opacity: 0;
    transition: .6s;
}

.clicked.menu__button span:last-child{
    translate: 0px -7px;
    transform: rotate(-45deg);
}

.hidden__menu{
    left: -100vw;
}

.nav__shadow{
    box-shadow: 0 4px 10px rgba(20, 100, 255, .1);
}

:root {
    /* Background colors */
    --light-bg-grey: #f8f9fa;
    --dark-bg-grey: #ecedee;
    --light-bg-blue: #e4eefd;
    --primary-blue: #1967d2; /* This color is for both button bg and text bg */
    --button-hover-color: #0f5cbb;
    --button-border-radius: 4px;
    --box-border-radius: 20px;
    --grey-border-color: #dadce0;
    --text-color: #3c4043;
    --heading-font-weight: 700;
    --p-font-weight: 400;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --white: white;
    --black: black;
  }
  .product-detail-page *, .product-detail-page *::before, .product-detail-page *::after {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    transition: 0.4s all ease;
    scroll-behavior: smooth;
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  .product-detail-page h2 {
    font-weight: 700;
  }
  .product-detail-page .header {
    text-align: center;
    font-size: 28px;
  }
  .product-detail-page img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    display: inline-block;
  }
  .product-detail-page .flex-col {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .product-detail-page .flex-row {
    display: flex;
  }
  .product-detail-page .grid {
    display: grid;
  }
  .product-detail-page button {
    cursor: pointer;
    background-color: transparent;
  }
  .product-detail-page .container {
    width: 100%;
    padding: 40px 5%;
    margin: 0 auto;
  }
  .product-detail-page .link {
    color: var(--primary-blue);
  }
  .product-detail-page .btn {
    padding: 10px;
    border-radius: var(--button-border-radius);
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  .product-detail-page .btn:hover {
    background-color: var(--button-hover-color);
  }
  .product-detail-page .btn:active {
    transform: translateY(2px);
  }
  .product-detail-page i {
    font-size: 1rem;
  }
  .product-detail-page .absolute {
    position: absolute;
  }
  .product-detail-page .small {
    font-size: large;
  }
  .product-detail-page .bi-chevron-left {
    padding: 10px;
    background-color: var(--light-bg-grey);
    border-radius: 8px;
    font-size: 20px;
  }
  .product-detail-page .bi-cart {
    font-size: 20px;
    padding: 10px;
  }
  .product-detail-page .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-detail-page .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
  }
  .product-detail-page .product-images {
    display: flex;
    gap: 16px;
    width: 100%;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
  }
  .product-detail-page .product-images::after {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--grey-border-color);
    position: absolute;
    right: -4rem;
  }
  .product-detail-page .add-wishlist {
    top: 5px;
    right: 10px;
    color: rgb(155, 152, 152);
    transition: 0s;
  }
  .product-detail-page .add-wishlist i {
    font-size: 1.4rem;
  }
  .product-detail-page .add-wishlist.active {
    color: rgb(252, 65, 65);
    transition: 0s;
  }
  .product-detail-page .large-image-container {
    position: relative;
    object-fit: cover;
    padding: 16px;
    background-color: var(--light-bg-grey);
    height: 100%;
    min-height: 250px;
    display: flex;
    vertical-align: middle;
    overflow-x: hidden;
  }
  .product-detail-page .large-image-container img {
    visibility: hidden;
    margin-left: -20px;
    transform: translateX(0%);
    margin-right: 20px;
  }
  .product-detail-page .large-image-container img.visible {
    visibility: visible;
    margin-inline: 0px;
    transition: 0.4s;
  }
  .product-detail-page .small-image-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .product-detail-page .small-image-container > .small-image {
    background: var(--light-bg-grey);
    border-radius: 4px;
    border: 2px solid transparent;
    width: 60px;
    max-width: 100px;
    min-height: 40px;
    object-fit: contain;
  }
  .product-detail-page .small-image-container > .small-image.active {
    border: 2px solid rgb(133, 125, 125);
  }
  .product-detail-page .product-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 2rem;
  }
  .product-detail-page .product-description > p.description {
    margin-top: -10px;
  }
  .product-detail-page .product-price {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
  }
  .product-detail-page .product-price span:last-of-type {
    text-decoration: line-through;
    opacity: 0.7;
  }
  .product-detail-page .discount {
    display: flex;
    gap: 6px;
  }
  .product-detail-page .review {
    display: flex;
    gap: 10px;
  }
  .product-detail-page .review .review-count {
    text-decoration: underline;
  }
  .product-detail-page .bi.bi-star-fill {
    color: gold;
  }
  .product-detail-page .color-switcher {
    gap: 4px;
  }
  .product-detail-page .color-switcher > button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    background: #000;
    overflow: hidden;
  }
  .product-detail-page .color-switcher > button.active {
    border: 2px solid black;
  }
  .product-detail-page .color-switcher > button p {
    width: 20px;
    height: 20px;
  }
  .product-detail-page .color-switcher > button p:first-child {
    background-color: #fff;
  }
  .product-detail-page .btn-container {
    gap: 1rem;
  }
  .product-detail-page .btn-border {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
  }
  .product-detail-page .btn-border:hover {
    background-color: #f9f3f3;
  }
  .product-detail-page .product-details-tab-container {
    border-radius: var(--button-border-radius);
  }
  .product-detail-page .product-tab-buttons {
    display: flex;
    width: 100%;
  }
  .product-detail-page .product-tab-buttons .tab-btn {
    padding: 10px;
    border: 1px solid var(--grey-border-color);
    border-bottom: none;
    font-size: 1rem;
    width: 100%;
    background-color: #fff;
  }
  .product-detail-page .product-tab-buttons .tab-btn:first-of-type {
    border-top-left-radius: 12px;
  }
  .product-detail-page .product-tab-buttons .tab-btn:last-of-type {
    border-top-right-radius: 12px;
  }
  .product-detail-page .product-tab-buttons .tab-btn:hover,
  .product-detail-page .product-tab-buttons .tab-btn.active {
    background-color: var(--dark-bg-grey);
  }
  .product-detail-page .tab-content-container {
    padding-inline: 1rem;
    padding-block: 10px;
    border: 1px solid var(--grey-border-color);
  }
  .product-detail-page .tab-content-container .tab-content {
    display: none;
  }
  .product-detail-page .tab-content-container .tab-content.active {
    display: block;
  }
  .product-detail-page .related-products-container {
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
    scrollbar-width: thin;
    padding-block: 3rem;
  }
  .product-detail-page .related-products-container::-webkit-scrollbar {
    height: 8px;
  }
  .product-detail-page .related-products-container::-webkit-scrollbar-thumb {
    background-color: var(--grey-border-color);
    border-radius: 22px;
  }
  .product-detail-page .related-products-container {
    scrollbar-width: thin;
  }
  .product-detail-page .related-product {
    min-width: 180px;
    max-width: 200px;
  }
  .product-detail-page .related-product > .product-img {
    background-color: var(--dark-bg-grey);
    border-radius: var(--box-border-radius);
    min-height: 180px;
    padding: 8px;
  }
  .product-detail-page .related-product .product-desc {
    margin-top: 8px;
    font-size: 14px;
  }
  .product-detail-page .related-product .product-name {
    margin-top: 8px;
    font-size: 18px;
  }
  .product-detail-page .related-product .link {
    text-decoration: none;
    font-weight: 600;
  }
  .product-detail-page .rating-review-container {
    gap: 2rem;
    padding-block: 40px;
    max-width: 800px;
  }
  .product-detail-page .rating-review-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 1rem;
  }
  .product-detail-page .user-details {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .product-detail-page .user-details .letter {
    padding: 4px;
    border-radius: 50%;
    background-color: purple;
    color: var(--white);
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    width: 25px;
    height: 25px;
  }
  .product-detail-page .user-details .name {
    font-weight: 600;
  }
  .product-detail-page .rating-stats {
    justify-content: space-between;
    align-items: center;
  }
  .product-detail-page .rating-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .product-detail-page .rating-content .rating {
    display: flex;
    gap: 20px;
  }
  .product-detail-page .large {
    font-size: 20px;
    font-weight: 600;
  }
  .product-detail-page .underline {
    text-decoration: underline;
  }
  .product-detail-page .add-review-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: none;
  }
  .product-detail-page .close-review {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .product-detail-page .close-review i {
    font-size: 2rem;
  }
  .product-detail-page .add-review-container.active {
    display: flex;
  }
  .product-detail-page .add-review-form {
    position: relative;
    max-width: 600px;
    min-height: 200px;
    width: 100%;
    background-color: var(--white);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--box-border-radius);
    box-shadow: var(--box-shadow);
  }
  .product-detail-page .add-review-form button {
    align-self: flex-end;
  }
  .product-detail-page .add-review-form textarea {
    border: 1px solid var(--grey-border-color);
    padding: 10px;
    resize: none;
    width: 100%;
    font-size: 16px;
    color: var(--black);
  }
  .product-detail-page .add-review-form .stars, .product-detail-page .stars-review {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 400px;
  }
  .product-detail-page .stars-review {
    gap: 4px;
    justify-content: center;
  }
  .product-detail-page .stars-review i {
    font-size: 1rem;
  }
  .product-detail-page .add-review-form .stars i {
    font-size: 30px;
    cursor: pointer;
    color: rgb(231, 231, 231);
    transition: 0s;
  }
  .product-detail-page .add-review-form .stars i.active {
    color: gold;
    transition: 0s;
  }
  .product-detail-page i.bi.bi-star-fill.inactive {
    color: rgb(231, 231, 231);
    transition: 0s;
  }
  .product-detail-page .add-review-form h2 {
    font-weight: 400;
  }
  .product-detail-page .see-more.link {
    transition: 0.4s;
  }
  .product-detail-page .see-more.link:hover {
    transition: 0.8s;
    text-decoration: underline;
  }
  .product-detail-page .discount {
    color: red;
  }
  .product-detail-page footer a {
    font-size: 14px;
  }
  .product-detail-page footer h3 {
    font-size: 16px;
  }
  .product-detail-page footer a:hover, .product-detail-page footer a:active {
    color: var(--primary-blue);
  }
  .product-detail-page hr {
    height: 2px;
    background-color: var(--grey-border-color);
    margin-block: 1rem;
    gap: 1rem;
  }
  .product-detail-page .footer-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-detail-page .bold {
    font-weight: 600;
  }
  .product-detail-page .footer-intro .form-group {
    gap: 0px;
    height: fit-content;
    max-width: 300px;
  }
  .product-detail-page .footer-intro .form-group input {
    border: 1px solid var(--grey-border-color);
    padding: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 14px;
  }
  .product-detail-page .footer-intro .form-group button {
    padding: 6px;
    border-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 14px;
  }
  .product-detail-page .footer-intro .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    margin: auto;
  }
  .product-detail-page .footer-intro .social-links i {
    font-size: 20px;
    color: var(--text-color);
  }
  .product-detail-page .footer-intro .social-links i:hover {
    transition: 0s;
    color: var(--primary-blue);
  }
  .product-detail-page .footer-content {
    gap: 1rem;
    min-width: 100px;
    max-width: 220px;
  }
  .product-detail-page .footer-content.contact li {
    gap: 1rem;
    font-size: 1rem;
  }
  .product-detail-page .privacy-policy {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 950px) {
    .product-detail-page .product-container {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .product-detail-page .product-images::after {
      display: none;
    }
    .product-detail-page .product-images {
      flex-direction: column;
    }
    .product-detail-page .small-image-container {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .product-detail-page .small-image-container .small-image {
      max-width: 100%;
      width: 100%;
    }
    .product-detail-page .product-images::after {
      right: 0rem;
    }
    .product-detail-page .product-description {
      margin-left: 0px;
    }
    .product-detail-page .rating-review-container h2 {
      margin-bottom: 1rem;
    }
  }
  @media (max-width: 500px) {
    .product-detail-page .container {
      padding: 20px 5%;
    }
    .product-detail-page p {
      font-size: 14px;
    }
    .product-detail-page textarea {
      font-size: 14px;
    }
    .product-detail-page .product-tab-buttons .tab-btn {
      padding: 6px;
      font-size: 0.8rem;
    }
    .product-detail-page .rating-review-container {
      gap: 0px;
    }
    .product-detail-page .privacy-policy * {
      font-size: 14px;
    }
    .product-detail-page .footer-content {
      gap: 10px;
    }

    .blog__main{
        width: 100%;
    }
  }
  .product-detail-page .logo {
    width: 60px;
    height: 60px;
  }
  .product-detail-page .logo img {
    width: 100%;
    height: 100%;
  }

  footer{
    background-color: var(--light-bg-blue);
  }

  .blog__section{
    margin-top: 50px;
  }

  .blog__info h2{
    font-size: 18px;
  }

  .read__more{
    width: 100px;
    margin-left: 5%;
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: var(--button-border-radius);
    padding: 10px;
    font-weight: 600;
  }

  .read__more:hover{
    background-color: var(--button-hover-color);
  }