:root {
    /* Background colors */
    --light-bg-grey: #f8f9fa;
    --light-bg-blue: #e4eefd;

    --primary-blue: #1967d2; /* This color is for both button bg and text bg */

    --button-hover-color: #0f5cbb;
    --button-border-radius: 4px;
    --box-border-radius: 20px;
    --grey-border-color: #dadce0;
    --text-color: #3c4043;
    --heading-font-weight: 700;
    --p-font-weight: 400;
}
*{
    box-sizing: border-box;
    transition: all 0.4s ease-out;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    overflow: hidden;
    color: var(--text-color);
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}
/* Menu bar starts */
.menu-bar-section{
    width: 20%;
    /* padding: 10px; */
    height: 100vh;
    border-radius: 5px;
    background-color: #c7dbfc;
    border-right:1px solid #03244b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
    transition: all 0.5s ease-out 0.2;
}
@media screen and (max-width:1000px) {
    .menu-bar-section{
        position: absolute;
        width: 50%;
        z-index: 0;
    }
}
@media screen and (max-width:500px) {
    .menu-bar-section{
        width: 100%;
    }
}
.menu-bar-section.active{
    transform: translateX(-100%);
    transition: all 0.5s ease-out 0.2s;

}
.menu-bar-section.active-display-none{
    position: absolute;
    z-index: 0;
}
.menu-bar{
  width: 100%;
}
.company-logo{
    width: 100%;
    background-color: var(--light-bg-blue);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:6px ;
    max-height: 70px;
    overflow: hidden;
}
.company-logo>div:first-child{
    display: flex;
    align-items: center;
    gap: 6px;
}

.company-logo>div:first-child>span{
    display: inline-block;
    color: var(--primary-blue);
    font-family: fantasy;
    font-size: 1rem;

}
.company-logo>div:first-child>img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.company-logo>div:last-child{
    display: none;
}
.menu-bar-content{
   overflow-y: scroll;
   max-height: 87vh;
   background-color: #c7dbfc;
   padding-top: 5px;
}
.menu-bar-content::-webkit-scrollbar{
    display: none;
}
.menu-bar-content-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    list-style: none;
    margin: auto;
    position: relative;
    padding: 4px 10px 4px 4px;

}
.menu-bar-content-list>li{
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
}
.menu-bar-content-list>li>ul {
    position: relative;
    will-change: max-height;
    background-color: white;
    list-style: none;
    transition: max-height 0.5s;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: hidden;
    cursor: pointer;
}

.menu-bar-content-list>li.listOpen>div {
   
    background-color: #1967d2;
}
.menu-bar-content-list>li>ul>li{
    padding: 5px;
    border-radius: 5px;
    background-color:var(--light-bg-blue);
    margin-left: 0;
    display: block;
}.menu-bar-content-list>li>ul>li:hover{
    background-color: var(--primary-blue);
}
.menu-bar-content-list>li>div{
    display: flex;
    padding: 10px ;
    justify-content: space-between;
    z-index: 3;
    background-color: #c7daf7;
}
.menu-bar-content-list>li>div>div:first-child>span{
    font-weight: 700;
    font-size: 0.9rem;
    padding-left: 5px;
}

.menu-bar-content-list>li>div>div:last-child>.chevronIcon.rotated{
    transform: rotate(180deg);
}


/* Header Starts Here */
.header-main-container-section{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    transition: all 0.5s ease-in;
    background-color: #f8f9fa;
}
.header-main-container-section.menu-not-active{
    width: 100% !important;
}
.admin-dashboard-header {
    background-color:var(--button-hover-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 25px 10px 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.admin-dashboard-header-main-content {
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-menu-button {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.header-profile-and-other{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header-form-container {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.header-search-bar {
    display: block;
    border-radius: 15px;
    border: none;
    padding: 4px 30px 4px 10px; 
    font-size: 16px;
    width: 100%; 
}

.search-icon {
    position: absolute;
    font-size: 16px;
    color: #555;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border:none;
}
.notification{
    position: relative;
    display: flex;
    align-items: center;

}
.notification-icon{
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    z-index: 3;
}
.notification-available-dot{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 0px;
    right: -5px;
    background-color: rgb(255, 0, 221);
}
.message{
    position: relative;
    display: flex;
    align-items: center;

}
.message-icon{
    font-size: 18px;
    color: #fff;
    z-index: 3;
    cursor: pointer;
}
.message-available-dot{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 0px;
    right: -5px;
    z-index: 3;
    background-color: rgb(255, 0, 221);
}
.profile{
    display: flex;
    column-gap: 6px;
}
.profile>.profile-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profile>.profile-image>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.profile-name>span{
    color: var(--light-bg-blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
.profile-role{
    font-size: .7em;
    color: var(--text-color);
    font-weight: 700;
}
/* Main Body Starts Here */
.container{
    max-height:  87vh;
    overflow-y: scroll;
    padding: 10px 15px;

    
}
.container::-webkit-scrollbar{
   display: none;
}
.dashboard-container{
    padding: 10px 10px 50px 10px;
    display: none;
    flex-direction: column;
    row-gap: 10px;
}
.dashboard-container.active{
    display: flex;
}
.section1>div>span:last-child{
    font-size: 0.6em;
}

.section1 {
    max-width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border-radius: var(--box-border-radius);
    
}

.section1 > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    padding: 15px;
    min-width: 205px;  
    background-color: var(--light-bg-blue);
    border-radius: var(--box-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section1 > div:hover{
    background-color: var(--button-hover-color);
    color: var(--grey-border-color);
}
.section1 > div:hover span:nth-child(2){
    color: rgb(255, 0, 221);
    font-weight: 600;
}
.section1 > div span:first-child {
    display: block;
    font-weight: var(--heading-font-weight);
}

.section1 > div span:nth-child(2) {
    color: var(--primary-blue);
}

.section1 > div i {
    font-size: 24px;
    color: var(--primary-blue);
}

.section2 {
    max-width: 100%;
    max-height: 80vh;
    min-height: 60vh;
    display: flex;
    font-size: .6em;
    gap: 15px;
    padding: 10px 10px 20px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section2>div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#salesbuy-orders{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    padding-bottom: 10px;
}
#salesbuy-orders>div:nth-child(2){
    display: flex;
    column-gap: 1px;
    
}
#salesbuy-orders>div:nth-child(2)>div:first-child>button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1em;
}
#salesbuy-orders>div:nth-child(2)>div:nth-child(2)>button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1em;
}
.order-button {
    background-color:var(--primary-blue);
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
   
}
.order-button:hover{
    transition: transform .5s ease-in;
    transform: translateY(-2px);
    border-radius: 3px;
}
.salebuy-orders-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    max-width: 100%;
}
.salesbuy-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 7px;
    padding: 8px;
    padding-bottom: 0%;
    text-align: justify;
}
.salesbuy-text>div:first-child>span{
    font-weight: 700;
    color: var(--primary-blue);
    font-size: 1.9em;
}
.salebuy-orders-table-container{
   
}
.orders-container-dashboard {
    max-width: 100%;
    overflow: auto;
    display: none;
    padding: 15px;
    min-width: 25vw;
    min-height: 60vh;
    white-space: nowrap;
}


.active-table {
    display: block;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.order-table th {
    background-color:var(--primary-blue);
    color: var(--light-bg-grey);
}

.charts-section{
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
    padding: 15px;
}
@media screen and (max-width:1068px){
    .charts-section{
        width: 100%;
    }
}
.chart-heading-button{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 6em;
}
.charts-container{
    flex: 1;
    width: 100%;
}
.charts{
    width: 100%;
    height: 100%;
}
#ordersChart {
    width: 100%;
    height: auto; /* To maintain the aspect ratio */
}
.chart-heading-button button{
    background-color: var(--primary-blue);
    border-radius: 6px;
    color: var(--grey-border-color);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chart-heading{
    height: 100%;
    padding: 10px;
}
.chart-heading>span{
    font-weight: 700;
    color: var(--primary-blue);
    font-size: 1.9em;
}

/* Orders container starts Here */

.orders-status-container{
    display: none;
}
.orders-status-container.active{
    display: block;
}
.orders-status{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.order-main-heading{
    padding: 30px;
    background-color: var(--light-bg-blue);
    border-radius: 10px;
}
.order-main-heading-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:12px;
}
.order-main-heading-sub>div:first-child>span{
    color: var(--primary-blue);
    font-size: 2em;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word
}
.order-main-heading-sub>div:nth-child(2)>span{
    color: var(--text-color);
    font-size: 1em;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}
.recent-orders{
    padding: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: var(--light-bg-blue);
    border-radius: 10px;
}
.recent-orders-title{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.recent-orders-title>div>span{
    color:var(--primary-blue);
    
    font-size: 2em;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word
}
.recent-orders-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recent-orders-body>div{
    display: flex;
    flex-direction: column;
   
}
.recent-orders-body>div>div:first-child{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--light-bg-grey);
}
.recent-orders-body>div>div:first-child>img{
    width: 100%;
    height: 100%;
   
}
.recent-orders-body>div>div:nth-child(2)>span{
    color: var(--text-color);
    font-size: 1.2em;
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
.recent-orders-body>div>div:nth-child(3)>span{
    color: rgba(0, 0, 0, 0.50);
    font-size: 1em;
    font-family: Roboto;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
}
.recent-orders-body>div>div:nth-child(4)>span{
    color: var(--primary-blue);
    font-size: 1.3em;
    font-family: Roboto;
    font-weight: 600;
    line-height: 26px;
    word-wrap: break-word
}
.order-summary{
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: var(--light-bg-blue);
    border-radius: 10px;
}
.order-summary>div:first-child{
    text-align: center;
    color: var(--primary-blue);
    font-size: 2rem;
    font-family: Roboto;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word
}
.order-summary>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.order-summary>div:nth-child(2)>div{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}
.order-summary>div:nth-child(2)>div>span{
    line-height: 26px;
    
}
