*, *::before, *::after{
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    transition: 0.4s all ease;
    scroll-behavior: smooth;
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
  }

  

body{
    overflow: hidden;
    background-color: black;
}

button{
    border: transparent;
    outline: none;
}

.chat-container{
    display: flex;
    width: 100%;
    background-color: green;
    float: right;
    height: 90vh;
    padding: 20px 20px;
    padding-bottom: 0;
    gap: 2%;
    margin-top: 10vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(206, 204, 204);
    
    
}

.chat-container-left::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
  }

  /* Style the scrollbar handle */
  .chat-container-left::-webkit-scrollbar-thumb {
    background-color: black; /* Change the color as needed */
  }

.chat-container-left{
    background-color: white;
    width: 30%;
    padding-top: 2%;
    height: 85vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    

}


.chat-container-left1{
    display: flex;
    align-items: center;
    gap: 5%;
    padding-left: 2%;
}
.chat-container-left1 img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat-customer-messages{
    overflow: auto;
    height: 75%;
    
}


.chat-customer-messages::-webkit-scrollbar {
    width: 0em; /* Adjust the width as needed */
  }

.chat-admin{
    display: flex;
    flex-direction: column;
}

.chat-container-left2{
    width: 100%;
    padding-left: 2%;
}

.chat-container-left2 input{
    width: 95%;
    margin: auto;
    margin-top: 5%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(206, 204, 204);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    
    
}

.chat-container-left2 input[type="search"] {
    caret-color: #4169E1;
    font-size: 13px;
    padding-left: 5%;
  }


.chat-container-left2 input::placeholder{
    padding-left: 5px;
    line-height: normal;
    color: white;
}

.chat-container-left3{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    justify-content: center;
    
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    


    
}

.bi.bi-bell{
    position: relative;
    font-size: 30px;
    
}

.chat-bell{
    color: black;
    font-size: 15px;
    position: absolute;
    color: white;
    background-color: rgb(255, 45, 45);
    border-radius: 50%;
    width: 16px;
    padding-left: 3px;
    top: -10px;
    left: 15px;

}

.chat-container-left3 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    flex: 1;
    align-self: center;
    padding-bottom: 5%;
    justify-content: center;
    background-color: 
    
    
}

.chat-container-left3 a span{
    align-self: center;
}

.chat-container-left3 a i{
    align-self: center;
    font-size: 23px;
    color: #0f5cbb;
}

.bi.bi-telephone{
padding-right: 40%;
}

.chat-container-left3 a:hover{
    
}

.chat-container-left3 a:active{
    color: green;
    border-bottom: 1.5px solid #0f5cbb;
}

.chat-message-time{
    color: #0f5cbb;
    font-size: 12px;
}

.chat-container-left4{
    padding-left: 2%;
    display: flex;
    margin-top: 8%;
    align-items: center;
    gap: 5%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgb(123, 118, 118);
    transition: 0.5s;
}

.chat-container-left4:hover{
    background-color: rgb(206, 204, 204);
    cursor: pointer;
}

.chat-customer{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}

.chat-container-left41{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    gap: 5px;
}

.chat-name{
    display: flex;
    justify-content: space-between;
}



.chat-container-right{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 68%;
    padding-top: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.chat-headRight{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 5%;
    height: 10vh;
    padding-left: 3%;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 3%;
}

.chat-container-right2{
    display: flex;
    justify-content: space-evenly;
    gap: 20%;
    
}

.chat-container-right2 i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
 
}

.chat-container-right2 i:hover{
    color: rgb(168, 165, 165);
    ;
}

.chat-active{
    color: #0f5cbb;
}



.chat-container-right1 img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat-container-right1{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    
}

.chat-right-a{
    padding-top: 4%;
    display: flex;
    gap: 10px;
    margin-left: 25%;
    margin-right: 2%;
}

.chat-messages{
    overflow: auto;
    overflow-x: hidden;
}

.chat-messages::-webkit-scrollbar {
    width: 0em; /* Adjust the width as needed */
  }

  /* Style the scrollbar handle */
  .chart-messages::-webkit-scrollbar-thumb {
    background-color: rgb(123, 118, 118); /* Change the color as needed */
  }

 .chat-text{
    background-color: #0f5cbb;
    padding: 5px 5px;
    border-top-right-radius: -30%;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.chat-text2{
    background-color: rgb(206, 204, 204);
    padding: 5px 5px;
    border-top-right-radius: -30%;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-time{
    color: rgb(141, 137, 137);
    align-self: flex-end;
    margin-left: 81%;
    margin-top: 2%;
}

.chat-right-b{
    padding-top: 4%;
    display: flex;
    gap: 10px;
    margin-left: 2%;
    margin-right: 25%;
   

}

.chat-time1{
    color: #0f5cbb;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 2%;
}

.message{
    
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
    background-color: white;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);

}

.message input{
    width: 75%;
    border-radius: 15px; 
    border: none;
    height: 6vh;
    padding-left: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}



.message i{
   
    color: #0f5cbb;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
}


@media screen and (max-width: 750px) {

    .chat-container-right{
        display: none;
    }

    .chat-container-left{
        width: 100%;
        
    }

    .chat-container{
        padding: 0;
    }


    .chat-container-left4{
        font-size: 25px;
    }
    
}